.title-h1(){
  font-family: @font;
  font-size: @font-size-h1;
  line-height: @line-height-h1;
  font-weight: @bold;
  color: @black;
}

.title-h2(){
  font-family: @font;
  font-size: @font-size-h2;
  line-height: @line-height-h2;
  font-weight: @bold;
  color: @black;
}
