@black:    #000;
@white:    #fff;

@font: 'PT Sans Narrow', sans-serif;

@bold:    700;
@regular: 400;

@font-size-h1:     30px;
@font-size-h2:     24px;
@font-size-text:   14px;

@line-height-h1:   42px;
@line-height-h2:   30px;
@line-height-text: 24px;
