.feedback{

}

.feedback__input{
  font: inherit;
  background-color: transparent;
  border: 2px solid @black;

  &::placeholder{
    color: @black-70;
  }

  &:focus{
    border-color: @brown;
  }
}
