.filter{
  line-height: @line-height-inner;

  & fieldset{
    padding: 0;
    margin: 0;
    border: none;
  }
}

.filter__title{
  font-size: @font-size-h2;
  line-height: @line-height-h2;
}

.filter__checkbox{

}
