.modal-login{
  color: @black;
  background: #f8f5f2 url("../img/inner-bg.png") repeat;
}

.modal-login__title{
  font-size: @font-size-h2;
  line-height: @line-height-h2;
}

.modal-login__input{
  font: inherit;
  text-transform: uppercase;
  color: @black;
  border: 2px solid @black;

  &::placeholder{
    color: @black;
  }

  &:focus{
    border-color: @brown;
  }
}

.modal-login__link{
  color: @black;
}
