.pagination{
  width: 100%;
  font-size: @font-size-text;
  line-height: @line-height-inner;
  margin-top: 25px;
  margin-bottom: 50px;
}

.pagination__page{
  display: inline-block;
  padding: 12px 17px;
  margin-right: 7px;
  color: @white;
  background-color: @black;

  &:hover,
  &:focus,
  &:active,
  &--active{
    color: @black;
    background-color: @white;
  }
}
