.product{

}

.product__code{
  color: #aeaeae;
}

.product__price{
  background-color: @black-10;
}

.product__title{
  font-size: @font-size-h2;
  line-height: @line-height-h2;
}

.product__list{
  padding: 0;
  margin: 0;
  list-style: none;
}
