.shop{

}

.shop__slogan{
  font-size: 48px;
  line-height: 48px;
}

.shop__title{
  font-size: @font-size-h2;
  line-height: @line-height-h2;
}

.shop__list{
  padding: 0;
  margin: 0;
  list-style: none;
}
